.child{
    background-color:rgb(247, 235, 212);
    padding:10px;
    font-size: 14pt;
    max-height: 50px;  
}
.class1{
    max-Height:50px;
}


.label{
    font-size:16pt;
    padding-right:20px;
}

.drop-up{
    padding:10px;
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: wheat;
    min-width: 200px;
    bottom: 20px;
    z-index: 1;
  }
  
  .dropup-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content a:hover {background-color: orange;
  }
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: black;
  }